{
  "presets": [
    [
      "babel-preset-env",
      {
        "useBuiltIns": "usage"
      }
    ]
  ],
  "ignore": "src/vendor/*.js",
  "plugins": [
    [
      "babel-plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    ["transform-react-jsx", { "pragma": "h" }],
    "babel-plugin-transform-inline-environment-variables",
    "babel-plugin-transform-object-rest-spread",
    "babel-plugin-transform-class-properties"
  ]
}
